body{
    padding: 10px;
}

app-root{
    h1{
        font-size: 40px;
    }

    #search-box{
        width: 500px;
    }

    div{
        margin-top: 10px;
    }

    .mainBody{
        width: 100%;
        display: flex;

        .leftBody{
            flex: 1;
        }

        .rightBody{
            flex: 7;
        }
    }

    .resultTableButtons{
        float: right;
        margin-bottom: 10px;
    }

    .table{
        tr:nth-child(even) {
            background-color: #e7e7ef;
        }

        .tableRow{
            cursor: pointer;
            &:hover{
                border: 3px solid rgba(128, 128, 128, 0.33);
                background-color: rgba(255, 255, 0, 0.1)
            }
            td{
                height: 100px;
            }
            &.selectedRow{
                td{
                    height: 400px;
                }
            }

            .column1{
                width: 300px;
                
                .productImage{
                    width: auto;
                    height: 100%;
                }
            }
            // .column2{
                // width: 500px;
            // }
            .lastColumn{
                width: 100px;
                max-width: 100px
            }
        }
    }
}